<!--<form [formGroup]="signupforms" (ngSubmit)="onSubmits(signupforms)" style="margin-top: 10px;">
  <label for="Name">Employee Name</label>
  <input type="text" id="Name" class="form-control" formControlName="EmpName">
  <label for="Designation">Designation</label>
  <input type="text" id="Designation" class="form-control" formControlName="EmpDesignation">
  <span *ngIf="!signupforms.get('EmpDesignation')?.valid && signupforms.get('EmpDesignation')?.touched">please enter a valid Designation</span><br>
  <label for="EmpPassword">Password</label>
  <input type="password" id="EmpPassword" class="form-control" formControlName="EmpPassword"><br>
  <label for="EmpSalary">Salary</label>
  <input type="text" id="EmpSalary" class="form-control" formControlName="EmpSalary"><br>
  <button type="submit" [disabled]="!signupforms.valid" class="btn btn-primary" >Submit</button>&nbsp;
  <button type="button"  class="btn btn-danger" (click)="  onfetch()" >Fetch Data</button>


</form>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Employee Management</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/allemp">EmpList</a></li>
        <li><a routerLink="/Add-Emp">AddEmployee</a></li>
      </ul>
      <ul *ngIf="!userLogged" class="nav navbar-nav navbar-right">
        <li><a routerLink="/auth">Login/Signup</a></li>
      </ul>
      <ul *ngIf="userLogged" style="cursor: pointer;" class="nav navbar-nav navbar-right">
        <li><a (click)="onlogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
